snippet ^^ "superscript" iA
^{$1}$2
endsnippet

snippet __ "subscript" iA
_{$1}$2
endsnippet

snippet del "connection" i
\nabla$1
endsnippet

snippet hy "hyperkahler" i
hyperk\"ahler
endsnippet

snippet co	"colon" i
\colon $1
endsnippet

snippet == "aligned equals" iA
&=
endsnippet

snippet til "\tilde" i
\tilde{$1}$2
endsnippet

snippet doc "document class" i
\documentclass[$1]{$2}$3
endsnippet

snippet bb "mathbb" i
\mathbb{$1}$2
endsnippet
